<?xml version="1.0" ?>
<robot name="baxter" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="left_tip_name" default="left_gripper"/>
  <xacro:arg name="right_tip_name" default="right_gripper"/>
  <xacro:include filename="$(find baxter_moveit_config)/config/baxter_base.srdf.xacro" />
  <xacro:baxter_base left_tip_name="$(arg left_tip_name)" right_tip_name="$(arg right_tip_name)"/>
</robot>
